*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
   
}
body{
    background: #d1d5e5;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 40px;
    border-radius: 40px;

}
.todo-container {
  background: #fff;
  width: 420px;
  height: 1000px;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
h2 {
  text-align: center;
  margin-bottom: 15px;
}
.add-task {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
  
}
.add-task input,
.add-task select {
  padding: 15px;
  border-radius: 30px;
  border: 3px solid #ccc;
}
.add-task .row {
  display: flex;
  gap: 10px;
}
#add-btn {
  background: #4a6cf7;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}
.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.filters button {
  flex: 1;
  margin: 0 3px;
  padding: 7px;
  border-radius: 14px;
  border: none;
  background: #eee;
  cursor: pointer;
}
.filters .active {
  background: #ff6b6b;
  color: white;
}
.search {
  width: 100%;
  padding: 8px;
  border-radius: 15px;
  border: 1px solid #ccc;
  margin-bottom: 12px;
}
.task-list li {
  list-style: none;
  background: #f9f9f9;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-left {
  display: flex;
  flex-direction: column;
}

.task-title {
  font-weight: 600;
}
.task-date {
  font-size: 12px;
  color: #666;
}

.badge {
  width: fit-content;
  margin-top: 4px;
  padding: 3px 8px;
  border-radius: 6px;
  font-size: 11px;
  color: white;
}
.high { background: #e74c3c; }
.medium { background: #f39c12; }
.low { background: #2ecc71; }

.icons i {
  margin-left: 12px;
  cursor: pointer;
  color: #555;
}
.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.footer .danger {
  background: #ff6b6b;
  color: white;
  border: none;
  padding: 7px 10px;
  border-radius: 6px;
}